<!--Search top -->
<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="search-form">

                    <% 
                        let url = '';
                        if(logged_in == 'false') url = '/search';
                        else{
                            if(isStudent == 'true') url = '/student/user' + userInfo.User_ID + '/search';
                            else url = url = '/teacher/user' + userInfo.User_ID + '/search';
                        }
                        
                    %>

                        <form action="<%=url%>" method="POST">
                            <div class="sf-type">
                                <div class="sf-input">
                                    <input type="text" name="search_bar_req" id="search_bar_req" placeholder="Search course and discount courses">
                                </div>


                                <div class="sf-list">
                                    <ul>

                                        <li><a href="course-details.html">Accounting/Finance</a></li>

                                    </ul>
                                </div>
                            </div>


                            <div class="sf-submit">
                                <input class="btn" type="submit" value="Search" style="border-radius:0;">
                            </div>

                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search top End -->