<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= pageTitle %>
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/A.settings.css.pagespeed.cf.xeOyGChsgq.css" media="screen" />
    <script src="https://kit.fontawesome.com/852e399102.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/A.menu.css.pagespeed.cf.0_hLwXzYkZ.css">
    <link rel="stylesheet" type="text/css" href="/css/A.carousel.css.pagespeed.cf.VktteGiLwl.css">

    <!-- Customized Bootstrap Stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="/css/indside-course.css">-->
    <link href="/css/extra-style.css" type="text/css" rel="stylesheet">

    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>