<%- include('../includes/starting.ejs') %>
<!--
<link rel='stylesheet' href='/css/home.css'>
-->
</head>
<body>
    <%- include('../includes/nav-bar.ejs') %>
    <div class="column text-end float-right">
        <a href='/log-in'>
            <button type="button" class="btn btn-outline-light me-2">Login</button>
        </a>
        
        <a href='/sign-up'>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </a>
        
    </div>
    <%- include('../includes/nav-bar-last.ejs') %>
</body>
</html>