<%- includes(../includes/starting.ejs) %>

    <body>
        <%- includes(../includes/topbar.ejs) %>
            <%- includes(../includes/search-top.ejs) %>


                <%- includes(../includes/footer.ejs) %>
    </body>

    </html>