<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>


                <%- include('../includes/footer.ejs') %>
                    <script src="/js/app.js"></script>
    </body>

    </html>